@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Rajdhani;
  src: url(/polices/Rajdhani-Medium.ttf);
}

.main {
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-right: 2px solid rgba(255, 255, 255, 0.521);
  
}

:root {
  --yellow-color: #FFFF00;
  --yellow-light: #F8F184;
  --blue-color: #19587D;
  --white-color: #FFFFFF;
  --black-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'rajdhani';
  font-size: 36px;
  font-weight: 700;
}

button {
  font-family: 'rajdhani';
  font-size: 20px;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
 }

body {
  background-image: url(/assets/Illustrations/Bathome1.png);
  background-repeat: no-repeat; 
  background-color: black;
  color: white;
  font-family: Space Grotesk;
  font-weight: 300;
}

/* Design de la navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}

ul a{
  font-family: 'Rajdhani';
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: none;
}

.home-link:hover {
  font-weight: 600;
  text-decoration: 1px underline;
  transition-delay: 0.03s;
  }

ul a:active {
  opacity: 70%;
}

.bathome-logo:hover {
  width: 102%;
  transition-delay: 1s;
}

.bathome-logo:active {
  width: 98%;
  opacity: 90%;
}

ul {
  list-style: none;
}

/* Design de la partie en tete Hero */

/*#hero {
  background-image: url(/assets/Illustrations/Bathome1.png);
  height: 800px;
  background-position: top center;
  background-repeat: no-repeat;
  }*/

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 250px;
}

.scroll img{
  margin: 10px;
}

.fleche-icon {
  width: 90px;
}

  #hero {
    text-align: center;
  }
  
  .container-hero p {
    font-family: Space Grotesk;
    font-size: 22px;
  }

  .texte {
    text-align: center;
    width: 670px;
    margin-top: 300px;
    
  }

  p {
    display: inline-block;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .cta {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .cta a {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.466), rgba(255, 0, 0, 0.418));
    box-shadow: var(--black-color) 3px 3px 50px;
    text-decoration: none;
    color: white;
    font-family: 'rajdhani';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
  }

  .voir-hero:hover {
    opacity: 40%;
    transition-delay: 0.15s;
  }

  .voir-hero:active {
    opacity: 100%;
    transition-delay: 0.15s;
  }

  .adversaires-button:hover {
    opacity: 40%;
    transition-delay: 0.15s;
  }

  .adversaires-button:active {
    opacity: 100%;
    transition-delay: 0.15s;
  }
  .voir-hero {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .adversaires-button {
    padding-left: 35px;
    padding-right: 30px;
  }

  .fleche-icon {
    margin-top: 150px;
    margin-bottom: 70px;
  }

  /* Design de la partie cinema*/

  .cinema-title {
    margin-bottom: 20px;
  }

  .cinema-article {
    text-align: justify;
    width: 90%;
  }

  #container-cinema {
    display: flex;
    justify-content: space-between;
  }

  .bathome-name {
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }

  .bathome-stats {
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 600;
  }

  .bathome-preview {
    text-align: center;
    margin-top: 50px;
  }

  .bathome-nemesis {
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    height: 120px;
  }

  .nemesis-title {
    margin-top: 100px;
    margin-bottom: 22px;
    text-transform: uppercase;

  }

  .allies-title {
    margin-top: 140px;
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  .bathome-allies {
    position: absolute;
    right: 0;
    top: 2716px;
    height: 300px;

    
  }

  .container-justice {
    margin-left: 60px;
    margin-bottom: 60px;
  }
  .justice-title {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 10;
  }

  .justice-article {
    text-align: justify;
    margin-left: 0px;
    width: 90%;
  }

  .hero-justice {
    display: inline-block;
    margin-bottom: 0;
  }

  .heros-image {
    width: 1349px;
  }

  .multimedia-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Design de la multimedia */

  #action-adventure {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
  }

  .action-batman {
    display: flex;
    justify-content: center;
    
    
  }
  .call-to-action p{
    display: inline;
    font-family: 'Rajdhani';
    font-size: 12px;
    letter-spacing: 1px;
    width: 400px;
  }

.call-to-action {
  font-family: 'Rajdhani';
  font-size: 12px;
  width: 400px;
  margin-left: -1px;
  padding: 22px;
  background-image: linear-gradient(to bottom right, rgb(54, 58, 56), rgb(9, 30, 43));
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

span {
  display: inline;
  font-weight: 600;
  color:#F8F184;
  font-size: 13px;
}
.imdb p{
  font-size: 13px;
  font-family: 'Space Grotesk';
}

.h2 {
  font-family: Space Grotesk;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.h3 {
  font-family: 'rajdhani';
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4px;
}

.imdb {
  font-size: 18px;
  margin-bottom: 4px;
}

.batman-video {
  margin-top: 120px;
}

/* Design de la partie Forme */

.forms {
  margin-top: 100px;
  background-image: linear-gradient(to right, rgb(54, 58, 56), rgb(9, 30, 43));
  
}

.forms-contact {
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

.form-label {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background:none;
}

input[type=text] {
  width: 800px;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 1px solid rgb(143, 143, 143);
 }

 .container-email {
  font-weight: 300;
  font-size: 22px;
 }

 /* Design de la partie Contact*/

 #contact {
  margin-top: 160px;
  background-image: linear-gradient(to right, rgb(71, 75, 71), rgb(9, 30, 43));
  padding: 70px 0;
 }

 #contact .form {
  width: 50%;
  margin: 0 auto;
 }

 #contact .prenons {
  text-align: center;
  margin-bottom: 70px;
  font-size: 36px;
  font-family: 'rajdhani';
 }

 #contact .titre {
  display: block;
  margin: 30px 0;
 }

 #contact .form input[type='email'], textarea{
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  border-bottom: 1px solid lightslategray;
  background: none;
  color: lightgrey;
  font-size: 16px;
  padding-bottom: 5px;
  font-family: 'Space Grotesk';
 }

 #contact .icon img {
  transform: rotate(90deg);
  width: 16px;
  float: right;
  cursor: pointer;

 }

 #contact .titre {
  font-size: 22px;
 }

 #contact .texte {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  
 }

 #contact .sous-titre {
  color: grey;;
 }

 #contact .recevoir {
  margin-top: 30px;
  width: 100%;
  border-bottom: 1px solid lightslategray;
 }

 #contact .news {
  border-bottom: 1px solid lightslategray;
  width: 100%;
  font-size: 16px;
  color: grey;
  margin-top: 20px;
 }

 ::placeholder {
  color: lightslategray;
 }

 #textarea {
  height: 30px;
 }

 .btn-group {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  }

 .form .btn-group input[type='radio'] {
  opacity: 0;
 }

 .btn-group label{
  border: 1px solid;
  padding: 10px 20px;
  border-image: linear-gradient(to right, rgb(176, 177, 176), rgb(84, 73, 236)) 2;
  font-size: 12px;
  cursor: pointer;;
 }
 
 input[type='submit'] {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  border: none;
  background: none;
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.548), rgba(255, 0, 0, 0.473));
  height: 60px;
  width: 220px;
  color: white;
  font-size: 20px;
  font-family: 'rajdhani';
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
 }

 input[type='submit']:hover {
  color: #FFFF00;
 } 

 input[type='submit']:active {
  color: #ffff81;
  opacity: 50%;
 } 
 /* Design de la partie citation */

.guillemet-open {
 margin-top: 140px;
 }

 #citation .citation-preview {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 45%;
 }

 #citation .guillemet-open {
  margin-left: 100px;
  margin-bottom: 40px;
 }

 #citation .guillemet-close img{
  position: relative;
  left: 80%;
  margin-top: 40px;
  margin-bottom: 100px;
  
  
 }
 #citation .citation-texte {
  font-size: 16px;
 }

 #citation .citation-author {
  font-size: 12px;
  width: 40%;
  margin: 0 auto;
  line-height: 22px;
 }

 .texte-footer {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-size: 10px;
  margin-bottom: 60px;
 }

 .texte-footer img {
  vertical-align: middle;
 }

 .social-icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 400px;
  margin-bottom: 120px;
}

.social-items img, a {
  padding: 7px;
  text-decoration: none;
  align-items: center;
}

.social-items img {
  width: 60px;  
}
.social-items .icon-x {
  width: 30px;  
  vertical-align:baseline;
  padding-bottom: 20px;
  cursor:default;
}
