html, body, main, footer{
  font-family: arial;
  color: white;
}
html{
  background-image: url("/assets/Illustrations/Bathome1.png");
  background-size: 1360px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: top;
}

header img{
  margin-top: 40px;

}
header ul{
 float:right;
 margin-right: 240px;
 margin-top: 40px;
 text-align: center;

 
}
header ul li a{
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  font-family: rajdhani;
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255);
}
header li{
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}
h1{
  text-decoration: none;
  text-transform: uppercase;
  font-family: rajdhani;
  font-size: 30px;
}
p{
  font-family: Space Grotesk Light;
  font-size: 18px;
  letter-spacing: 1x;
}
.heros p{
  font-family: Space Grotesk Light;
  font-size: 22px;
  letter-spacing: 1x;
}
body{
  margin-left: 160px;
}
.flèche{
  margin-top: 200px;
}
.heroslink{
  margin-top: 100px;
}

/* Section 1*/
.section1{
  inline-size: 600px;
  text-align: center;
  position: relative;
  margin-top: 300px;
  margin-left: 190px;
}

.section1 p{
  font-family: Space Grotesk Light;
  font-size: 21.5px;
  letter-spacing: 1x;
}
.section1 h2{
  font-family: Space Grotesk Light;
  letter-spacing: 1px;
}
.section1 a{
  text-decoration: none;
  color: white;
  font-family: Space Grotesk Light;
  font-size: 20px;
  margin: 20px;
}

/* Section 2*/
.cinema{
  margin-top: 50px;
  inline-size: 1000px;
  line-height: 2px;
}
.bathome{
  display: inline-block;
  align-items: end;
}
.bat3{
  margin-left: 35px;
}
.bat4{
  margin-left: 35px;
}
.bathome h3, span{
  text-align: center;
  font-size: 18px;
  font-family: Space Grotesk Light;
 }
.cinema p{
  font-family: Space Grotesk Light;
  line-height: 26px;
  text-align: center;
  margin-top: 40px;
}